img{
	width :150px;
	margin: 10px;
	border-color:green;
	border-width: 6px;
	border-style:solid;
	border-radius: 10px;
}

body{
	background-color: limegreen ;
}

h2{
	font-weight:bold;
	font-size 20px;
} 
h3{ 
	color: blue;
}